.header {
  padding: 35px 55px;
  display: flex;
  position: fixed;
  flex: 1 0 67%;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
}

.logo {
  width: 70px;
  height: 70px;
}