.header {
  padding: 35px 55px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
}