.twoColumn {
  height: 100%;

  div {
    flex-grow: 1;
  }
}


.left {
  height: 100%;
}

.right {}


@media (min-width: 700px) {
  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}