:root {
  --concrete-jungle: #9a9887;
  --eternity: #2E2D2A;
  --text-color-accent: #A99176;
  --font-common: "proxima-nova";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-common), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--eternity);
  }
}


.text-accent {
  color: var(--text-color-accent)
}