:root {
  --concrete-jungle: #9a9887;
  --color-primary: #2E2D2A;
  --text-color-accent: #A99176;
  --font-common: "proxima-nova";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-common), sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--color-primary);
  }
}


.text-accent {
  color: var(--text-color-accent)
}

.text-centered {
  text-align: center;
}

.text-thin {
  font-weight: 100;
}

.t14 {
  font-size: 14px;
}